@tailwind base;
@tailwind components;
@tailwind utilities;



.background-gradient{
    background: #f09819;
    background: -webkit-linear-gradient(0deg, #f09819 0%, #edde5d 100%);
    background: linear-gradient(0deg, #f09819 0%, #edde5d 100%);
}


